/* Add additional stylesheets below
-------------------------------------------------- */
/*
*/
/* Body and structure
-------------------------------------------------- */

section {
    padding-top: 60px;
}

section > .row {
    margin-bottom: 10px;
}

#masthead, #footer {
    background-color: #049cd9;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9));
    background-image: -webkit-linear-gradient(#004D9F, #049cd9);
    background-image: -moz-linear-gradient(#004D9F, #049cd9);
    background-image: -o-linear-gradient(top, #004D9F, #049cd9);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#004D9F), to(#049cd9));
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#004D9F', EndColorStr='#049cd9', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#004D9F', EndColorStr='#049cd9', GradientType=0))";
}

#subhead {
    background-color: #767D80;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#565d60), to(#767d80));
    background-image: -webkit-linear-gradient(#565d60, #767d80);
    background-image: -moz-linear-gradient(#565d60, #767d80);
    background-image: -o-linear-gradient(top, #565d60, #767d80);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#565d60), to(#767d80));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#565d60', endColorstr='#767d80', GradientType=0);
}

#subhead div.inner, #masthead div.inner, #footer div.inner {
    padding: 45px 0;
}

body > #subhead div.inner, body > #masthead div.inner, body > #footer div.inner {
    background: transparent url(../img/grid-18px.png) top center;
    -webkit-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
}

#subhead h1,
#masthead h1,
#footer h1,
#subhead p,
#masthead p,
#footer p {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
#subhead p a,
#masthead p a,
#footer p a {
    color: #fff;
    font-weight: bold;
}

#subhead, #masthead {
    padding: 40px 0 0;
}

#masthead h1 {
    font-size: 54px;
    line-height: 1;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
#masthead p {
    font-weight: 300;
}

#subhead h1 {
    font-size: 40px;
}

#subhead p.lead, #masthead p.lead {
    font-size: 20px;
    line-height: 27px;
}

div.quickstart {
    background-color: #f5f5f5;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
    background-image: -moz-linear-gradient(#f9f9f9, #f5f5f5);
    background-image: -ms-linear-gradient(#f9f9f9, #f5f5f5);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #f5f5f5));
    background-image: -webkit-linear-gradient(#f9f9f9, #f5f5f5);
    background-image: -o-linear-gradient(#f9f9f9, #f5f5f5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f5f5f5', GradientType=0)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f5f5f5', GradientType=0);
    background-image: linear-gradient(#f9f9f9, #f5f5f5);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #eee;
}
div.quickstart div.row {
    margin: 0 -20px;
    -webkit-box-shadow: 1px 0 0 #f9f9f9;
    -moz-box-shadow: 1px 0 0 #f9f9f9;
    box-shadow: 1px 0 0 #f9f9f9;
}
div.quickstart div.columns {
    width: 285px;
    height: 117px;
    margin-left: 0;
    padding: 17px 20px 26px;
    border-left: 1px solid #eee;
    -webkit-box-shadow: inset 1px 0 0 #f9f9f9;
    -moz-box-shadow: inset 1px 0 0 #f9f9f9;
    box-shadow: inset 1px 0 0 #f9f9f9;
}
div.quickstart div.columns:last-child {
    border-right: 1px solid #eee;
    width: 286px;
}
div.quickstart h6,
div.quickstart p {
    line-height: 18px;
    text-align: center;
    margin-bottom: 9px;
    color: #333;
}
div.quickstart h6 {
    color: #999;
}
div.quickstart form textarea {
    display: block;
    width: 275px;
    margin: 0 0 9px;
}
#footer {
    margin-top: 80px;
}
#footer p {
    margin-bottom: 0;
    color: rgba(255,255,255,.8)
}
#footer p.right {
    float: right;
}

/* Special grid styles
-------------------------------------------------- */
.show-grid {
    margin-top: 10px;
    margin-bottom: 10px;
}

.show-grid .show-grid {
    margin-top: 0;
    margin-bottom: 0;
}

.show-grid .span1, .show-grid .span2, .show-grid .span3, .show-grid .span4, .show-grid .span5, .show-grid .span6, .show-grid .span7, .show-grid .span8,
.show-grid .span9, .show-grid .span10, .show-grid .span11, .show-grid .span12, .show-grid .span13, .show-grid .span14, .show-grid .span15, .show-grid .span16,
.show-grid .span-one-third, .show-grid .span-two-thirds {
    background-color: #eee;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 30px;
    line-height: 30px;
    height: auto !important;
    height: 30px;
}

.show-grid:hover .span1, .show-grid:hover .span2, .show-grid:hover .span3, .show-grid:hover .span4, .show-grid:hover .span5, .show-grid:hover .span6, .show-grid:hover .span7, .show-grid:hover .span8,
.show-grid:hover .span9, .show-grid:hover .span10, .show-grid:hover .span11, .show-grid:hover .span12, .show-grid:hover .span13, .show-grid:hover .span14, .show-grid:hover .span15, .show-grid:hover .span16,
.show-grid:hover .span-one-third, .show-grid:hover .span-two-thirds {
    background: #ddd;
}

.show-grid .show-grid .span1, .show-grid .show-grid .span2, .show-grid .show-grid .span3, .show-grid .show-grid .span4, .show-grid .show-grid .span5, .show-grid .show-grid .span6, .show-grid .show-grid .span7, .show-grid .show-grid .span8,
.show-grid .show-grid .span9, .show-grid .show-grid .span10, .show-grid .show-grid .span11, .show-grid .show-grid .span12, .show-grid .show-grid .span13, .show-grid .show-grid .span14, .show-grid .show-grid .span15, .show-grid .show-grid .span16,
.show-grid .show-grid .span-one-third, .show-grid .show-grid .span-two-thirds {
    background-color: #ccc;
}

/* Render mini layout previews
-------------------------------------------------- */
div.mini-layout {
    height: 340px;
    margin-bottom: 20px;
    padding: 9px;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
}
div.mini-layout div {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
div.mini-layout div.mini-layout-body {
    background-color: #dceaf4;
    margin: 0 auto;
    width: 340px;
    height: 340px;
}
div.mini-layout.fluid div.mini-layout-sidebar,
div.mini-layout.fluid div.mini-layout-header,
div.mini-layout.fluid div.mini-layout-body {
    float: left;
}
div.mini-layout.fluid div.mini-layout-sidebar {
    background-color: #bbd8e9;
    width: 90px;
    height: 340px;
}
div.mini-layout.fluid div.mini-layout-body {
    width: 300px;
    margin-left: 10px;
}

/* Popover docs
-------------------------------------------------- */
.popover-well {
    min-height: 160px;
}

.ui-tooltip {
    display: block;
}

.popover-well .popover-wrapper {
    width: 50%;
    height: 160px;
    float: left;
    margin-left: 55px;
    position: relative;
}

div.popover-well div.popover-menu-wrapper {
    height: 80px;
}

img.large-bird {
    margin: 5px 0 0 310px;
    opacity: .1;
    filter: alpha(opacity=10);
}